@use '../base-style/colors';

#bg-image {
  background-image: url("images/dxc_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
}
#shade {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: transparentize($color: colors.$secondary, $amount: 0.3);
}
#logo {
  background-color: colors.$secondary;
  padding: 0.6em;
}

.logo {
  height: 2.5em;
}

#index-main {
  margin-left: 160px;
  margin-right: 160px;

  // height: 90vh;
  #first {
    height: 100vh;
    display: grid;
    grid-template-areas:
      "title form"
      "subtitle form";
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    row-gap: 60px;
  }
  h1,
  h2 {
    justify-self: start;
  }

  h1 {
    margin-top: auto;
    color: colors.$accent;
    grid-area: title;
    font-size: 26px;
    width: 90%;
    line-height: 1.5em;
  }
  h2 {
    grid-area: subtitle;
    color: colors.$primary;
    width: 90%;
    font-size: 26px;
    line-height: 1.5em;
  }

  form {
    grid-area: form;
    margin: auto;
    height: 80%;
    width: 90%;
    padding: 3em 2em 1em 1em;
    background-color: colors.$form;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 6em;
    border-radius: 5px;
    ::placeholder {
      opacity: 0.2;
    }
    #description,
    label {
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 60px;
      margin-left: 3em;
      margin-right: 3em;
      font-size: 0.9em;
    }
    input {
      border: none;
      border-radius: 0.5em;
      height: 3em;
      padding-left: 1em;
    }
    #warning {
      visibility: visible;
      font-size: 0.8em;
      text-indent: 1em;
      button {
        border: none;
        opacity: 0.4;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
      &.no-problem {
        visibility: hidden;
      }
    }

    hr {
      width: 80%;
      margin-left: 3em;
      margin-right: 3em;
      margin-bottom: 2em;
    }

    #submit-btn {
      width: 40%;
      margin: auto;
      background-color: colors.$accent;
      font-size: 16px;
    }
    #check {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 65%;
      margin-bottom: 1em;
    }
  }
  #quote {
    align-self: center;
    width: 60%;
    margin: auto;
    line-height: 2.5em;
  }
}

#second {
  margin: 5em auto 5em auto;
}
.weprovide {
  text-align: center;
  font-size: 30px;
}

#weprovide {
  display: grid;
  margin-top: 70px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .keypoints {
    width: 80%;
    line-height: 2em;
    .icon {
      height: 40px;
      margin-bottom: 40px;
      margin-left: 70px;
    }
  }
}

#third {
  margin-top: 0;
  margin-bottom: 200px;
}
.weprovide {
  margin-bottom: 2em;
}
#testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;

  #triangle {
    width: 600px;
    height: auto;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 200px solid black;
    position: absolute;
    left: 0;
    transform: translateY(-10em);
  }

  .keypoints {
    width: 80%;
    line-height: 2em;
  }
  .person {
    width: 120px;
    margin: auto;
    margin-bottom: 20px;
  }

  .who {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
