@use '../base-style/colors';

#index-body {
  background-image: url("images/dxc_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 660px;
  width: auto;
}

#logo {
  background-color: colors.$secondary;
  padding: 0.6em;
}

.logo {
  height: 2.5em;
}

#index-main {
  margin-left: 160px;
  margin-right: 160px;

  // height: 90vh;
  #first {
    display: grid;
    grid-template-areas:
      "title form"
      "subtitle form";
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    row-gap: 60px;
  }
  h1,
  h2 {
    justify-self: start;
  }

  h1 {
    margin-top: auto;
    color: colors.$primary;
    grid-area: title;
    font-size: 28px;
    width: 70%;
  }
  h2 {
    grid-area: subtitle;
    color: colors.$accent;
    width: 60%;
    font-size: 28px;
  }

  form {
    grid-area: form;
    margin: auto;
    margin-top: 5em;
    justify-content: center;
    height: 90vh;
    width: 80%;
    background-color: colors.$form;
    display: flex;
    flex-direction: column;
    margin-bottom: 6em;

    #description,
    label {
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 60px;
      margin-left: 3em;
      margin-right: 3em;
      font-size: 0.9em;
    }
    input {
      border: none;
      border-radius: 0.5em;
      height: 3em;
      padding-left: 1em;
    }
    #warning {
      visibility: visible;
      font-size: 0.8em;
      text-indent: 1em;
      button {
        border: none;
        opacity: 0.4;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
      &.no-problem {
        visibility: hidden;
      }
    }

    hr {
      width: 80%;
      margin-left: 3em;
      margin-right: 3em;
      margin-bottom: 2em;
    }

    #submit-btn {
      width: 40%;
      margin-left: 6em;
      margin-right: 6em;
      background-color: colors.$accent;
      font-size: 16px;
    }
    #check {
      margin-bottom: 6em;
    }
  }
  #quote {
    align-self: center;
    width: 60%;
    margin: auto;
    line-height: 2.5em;
  }
}

#testimonials {
  display: grid;
  margin-top: 100px;
  grid-template-columns: 1fr 1fr 1fr;

  .keypoints {
    height: 15vh;
    width: 80%;
    line-height: 2em;
  }
}
