@use '../base-style/colors';

.small-screen {
  display: none;
}
#index-body {
  position: relative;
}
#bg-image {
  background-image: url("images/dxc_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
}
#shade {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: transparentize($color: colors.$secondary, $amount: 0.3);
}
#logo {
  background-color: colors.$secondary;
  padding: 0.6em;
}

.logo {
  height: 2.5em;
}

#index-main {
  margin-left: 160px;
  margin-right: 160px;

  #first {
    height: 100vh;
    display: grid;
    grid-template-areas:
      "title form"
      "subtitle form";
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    row-gap: 60px;
  }
  h1,
  h2 {
    justify-self: start;
  }

  h1 {
    margin-top: auto;
    color: colors.$accent;
    grid-area: title;
    font-size: 26px;
    width: 90%;
    line-height: 1.5em;
  }
  h2 {
    grid-area: subtitle;
    color: colors.$primary;
    width: 90%;
    font-size: 26px;
    line-height: 1.5em;
  }

  form {
    grid-area: form;
    margin: auto;
    height: 80%;
    width: 90%;
    padding: 3em 2em 1em 1em;
    background-color: colors.$form;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 6em;
    border-radius: 5px;
    ::placeholder {
      opacity: 0.2;
    }
    #description,
    label {
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 60px;
      margin-left: 3em;
      margin-right: 3em;
      font-size: 0.9em;
    }
    input {
      border: none;
      border-radius: 0.5em;
      height: 3em;
      padding-left: 1em;
    }
    #warning {
      visibility: visible;
      font-size: 0.8em;
      text-indent: 1em;
      button {
        border: none;
        opacity: 0.4;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
      &.no-problem {
        visibility: hidden;
      }
    }

    hr {
      width: 80%;
      margin-top: auto;
      margin-left: 3em;
      margin-right: 3em;
      margin-bottom: 2em;
    }

    #submit-btn {
      width: 40%;
      margin: auto;
      background-color: colors.$accent;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 1px 1.5px 1px 1px rgba(0, 0, 0, 0.2);
      &:hover {
        box-shadow: 2px 4px 1px 1px rgba(0, 0, 0, 0.2);
      }
      &.loading {
        border-radius: 0;
        border-radius: 50%;
        width: 50px;
        background-color: transparent;
        border: 10px solid colors.$secondary;
        border-top: 10px solid colors.$accent;
        animation: spin 2s infinite forwards;
      }
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    }

    #check {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 65%;
      margin-bottom: 1em;
    }
  }
}

#second {
  margin: 5em auto 5em auto;
}
.weprovide {
  text-align: center;
  font-size: 30px;
}

#weprovide {
  display: grid;
  margin-top: 70px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .keypoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    line-height: 2em;
    margin-top: 0;
    .icon {
      height: 40px;
      margin: auto;
      margin-bottom: 40px;
    }
  }
}

#third {
  margin-top: 0;
  margin-bottom: 200px;
}
.weprovide {
  margin-bottom: 2em;
}
#testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;

  #triangle {
    width: 600px;
    height: auto;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 200px solid black;
    position: absolute;
    left: 0;
    transform: translateY(-10em);
  }

  .keypoints {
    width: 80%;
    line-height: 2em;
  }
  .person {
    width: 120px;
    margin: auto;
    margin-bottom: 20px;
  }

  .who {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .large-screen {
    display: none;
  }
  #shade {
    all: initial;
    width: 0px;
    height: auto;
    border-top: 400px solid transparent;
    border-bottom: 400px solid transparent;
    border-left: 600px solid black;
    position: absolute;
    top: 6em;
    right: 0;
    top: -5em;
    z-index: -1;
    opacity: 0.8;
  }
  #logo {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: colors.$secondary;
    img {
      height: 4vh;
    }
  }
  .small-screen {
    display: block;
  }
  #index-main {
    width: 95%;
    margin: auto;
    hr {
      height: 4px;
      background-color: colors.$accent;
      border: none;
      margin: 4em 2em;
    }
    #first {
      margin-top: 10vh;
      height: auto;
      display: block;
      form {
        box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.2);
        padding: 2em 0;
      }
      #check {
        width: 70%;
      }
      h1 {
        font-size: 1.4em;
        padding: 1em 0 1em 1em;
        color: colors.$primary;
      }
      h2 {
        font-size: 1.4em;
        padding: 0.5em 0 1em 1em;
        color: colors.$accent;
      }
    }
    #weprovide,
    #testimonials {
      display: block;
      margin: auto;
      .keypoints {
        margin: auto;
        margin-top: 2em;
      }
      h5 {
        margin-left: 2em;
      }
      p {
        margin-left: 1.6em;
      }
    }
    #second {
      margin: auto;
    }
    #third {
      margin: auto;
      margin-bottom: 3em;
    }
  }
  footer {
    font-size: 0.7em;
  }
}
